<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907862124164-q6n5viel8bjleqduebs4j57d18d1tktn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907862124164-q6n5viel8bjleqduebs4j57d18d1tktn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907862124164-s07rdgd5g5coqfd3l0q0s5pdd9g7v5ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB8j8HoJLmSVzfg1mgihD2k70j56gDaBY</string>
	<key>GCM_SENDER_ID</key>
	<string>907862124164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.privateChatApp</string>
	<key>PROJECT_ID</key>
	<string>private-chat-ba99e</string>
	<key>STORAGE_BUCKET</key>
	<string>private-chat-ba99e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907862124164:ios:5245528fdf238c7bc904d1</string>
</dict>
</plist>